
body {
    
    background-color: black;
    width: 100%;
    height: 100%;
}

* {
    margin : 0;
    padding : 0;
    color : white;
}

.head {
    width: 100vw;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.con {
    display : flex;
    justify-content: flex-start;
}

.nav {
    display: inline-block;
    width: fit-content;
    font-size : 20px;
    margin-left: 30px;
    margin-top : 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul > li {
    line-height: 30px;
}

ul > li > a {
    display: inline-block;
    position: relative;
}

a:after {
    content:"";
    position : absolute;
    left : 50%;
    bottom : 0;
    width : 0;
    height : 2px;
    background-color: white;
    transition : all .5s;
}

a:before {
    content:"";
    position : absolute;
    right : 50%;
    bottom : 0;
    width : 0;
    height : 2px;
    background-color: white;
    transition : all .5s;
}

a:hover:after {
    width : 50%;
}

a:hover:before {
    width : 50%;
}

.section {
    margin-top : 20px;
    margin-left : 20px;
}

.img {
    margin-top : 20px;
    margin-left : 20px;
}

.life {
    margin-top: 50px;
    margin-left : 110px;
}

.bottom {
    position : absolute;
    margin-top: 20px;
    bottom : 0;
    width: 100vw;
    height: 30px;
    text-align: center;
}

.update {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.title {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
  }

.work {
    margin-left: 100px;
    position: relative;
    text-align: center;
    transition: transform 250ms;
    display: inline-block;
}

.work:hover {
    transform: translateY(-10px);
}

.centered {
    position: absolute;
    font-size: 50px;
    font-style: italic; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    color: antiquewhite;
    text-shadow:
        0 0 7px #000,
        0 0 10px #000,
        0 0 21px #000,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}
